{% extends 'base.html' %}
{% block title %}
Джуманджи
{% endblock %}

{% block container %}

  <main class="container mt-3">
    <section>
      <h1 class="h1 text-center mx-auto mt-4 py-5"><strong> Вакансии для <br>IT специлистов</strong></h1>
      <div class="row ">
        <div class="col-12">
            <form action="{% url 'search' %}" method="get">
                <div class="row ">
                    <div class="col-5 offset-md-3 ">
                        <input class="form-control" type="text" name="s">
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary" type="submit">Найти</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
      <div class="row">
          <div class="col offset-md-3">
          <p>Например:
            <a href="/jum/search/?s=Python" class="text-dark border-bottom border-dark m-1 text-decoration-none">Python</a>
            <a href="/jum/search/?s=Flask" class="text-dark border-bottom border-dark m-1 text-decoration-none">Flask</a>
            <a href="/jum/search/?s=Django" class="text-dark border-bottom border-dark m-1 text-decoration-none">Django</a>
            <a href="/jum/search/?s=Парсинг" class="text-dark border-bottom border-dark m-1 text-decoration-none">Парсинг</a>
            <a href="/jum/search/?s=ML" class="text-dark border-bottom border-dark m-1 text-decoration-none">ML</a>
          </p>
              </div>
      </div>
    </section>

    <section class="mt-5 pt-3">
      <h2 class="h2 font-weight-normal text-center mb-5">Вакансии по рубрикам </h2>
      <div class="row mb-0">

        {% for spec in specialities %}
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <img class="mx-auto d-block" src="{{ spec.picture.url }}" width="80" height="80" alt="">
            <div class="card-body">
              <p class="card-text mb-2"> {{ spec.title }} </p>
              <p class="card-text">
                  <a href="{% url 'cat_vacancies' spec.code %}"> {{ spec.vacancies__count }} вакансий</a>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </section>

    <section class="my-5 pt-3">
      <h2 class="h2 font-weight-normal text-center mb-5">Нам доверяют лучшие компании</h2>
      <div class="row mb-0">
        {% for company in companies %}
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <p class="card-text mb-2"> {{ company.title }} </p>
            <a href="{% url 'company' company.id %}" style="max-width: 150px;" class="mx-auto d-block">
              <img class="mx-auto d-block mw-100" src="{{ company.logo.url }}" width="150" alt="">
            </a>
            <div class="card-body">
              <p class="card-text"><a href="{% url 'company' company.id %}">{{ company.vacancies__count }} вакансии</a></p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </main>
{% endblock %}
