{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Вакансии | Джуманджи
{% endblock %}

{% block container %}
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-2">
        <div class="pl-3 mb-5">
          <p><a href="#" onclick="history.back();">Назад</a></p>
        </div>
      </div>

      <div class="col-12 col-lg-8">
        <section class="pl-3">
          <a href=" {% url 'company' vacancy.company.id %}"><img src="{{ vacancy.company.logo.url }}" width="130" height="80" alt=""></a>
          <div class="d-flex align-items-baseline align-content-baseline">
            <h2 class="mt-4 font-weight-bold" >{{ vacancy.title }}</h2>
            <p class="m-0 pl-3">{{ vacancy.salary_min }} – {{ vacancy.salary_max }} Р</p>
          </div>
          <p class="mt-2">{{ vacancy.skills }}</p>
          <p class="text-muted mb-4">{{ company.title }} ({{ vacancy.company.employee_count }} человек), {{ vacancy.company.location }} или удаленно</p>
          <div style="line-height: 1.8;">
            <p>{{ vacancy.company.description }}</p>
            {{ vacancy.description|safe }}
          </div><hr>
            <h4 class="pt-6 mb-4 font-weight-bold" >Что бы откликнуться заполните форму:</h4>
          {% if request.user.is_authenticated %}
         {% crispy form "bootstrap4" %}
          {% else %}
           <div class="mt-4 text-center"><p>Что бы откликнуться <a href="{% url 'register' %}">Зарегистрируйтесь!</a></p></div>
          {% endif %}
        </section>
      </div>

    </div>
  </main>
{% endblock %}
