{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Вакансии | Джуманджи
{% endblock %}
{% block container %}
<body>
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h3 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" href="{% url 'company-edit' %}">1. Информация о&nbsp;компании</a>
            <a class="nav-link active" href="{% url 'user-vacancy' %}">2. Вакансии</a>
          </div>
        </aside>
      </div>
        <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h2 class="h3 pt-2 pb-3">Вакансии</h2>
              {% for vacancy in object_list %}
          <div class="card-body border px-4">
            <div class="row">
              <div class="col-12 col-md-8 col-lg-12">
                <a href="{% url 'vacancy' vacancy.id %}"><h4 class=" pb-2">{{ vacancy.title }}</h4></a>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-8 col-lg-4">
                <p>От {{ vacancy.salary_min }} до {{ vacancy.salary_max }} руб.</p>
              </div>
              <div class="col-12 col-md-8 col-lg-4">
                <a href="{% url 'applications' vacancy.id %}">Отклики ({{ vacancy.applications.count }})</a>
              </div>
              <div class="col-12 col-md-8 col-lg-4">
                <a href="{% url 'vacancy-edit' vacancy.id %}" class="btn btn-info mb-2">Редактировать</a>
              </div>
            </div>
          </div>
          {% endfor %}
             <br> <a href="{% url 'vacancy-create' %}" class="btn btn-info mb-2">Добавить вакансию</a>


            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
